.field {
	background: rgb(223, 223, 255);
	border: none;
	outline: none;
	padding: 6px 22px;
	transition: all .4s;
	border-radius: 8px;
}

.field:hover {
	box-shadow: 0 0 10px rgb(182, 182, 255);
}

.submit {
	background: rgb(153, 153, 211);
	color: white;
	border-radius: 10px;
	width: 180px;
	height: 36px;
	outline: none;
	border: none;
	transition: all .4s;
}

.submit:hover {
	box-shadow: 0 0 10px rgb(122, 122, 168);
}
.submit:focus {
	outline: none;
}

.list {
	margin-top: 1.15em;
}
